---
- name: Check if swap file exists
  ansible.builtin.stat:
    path: /swapfile
  register: swap_file

- name: Create swap file
  ansible.builtin.command: fallocate -l {{ swap_size | default('1G') }} /swapfile
  when: not swap_file.stat.exists
  changed_when: true

- name: Set swap file permissions
  ansible.builtin.file:
    path: /swapfile
    mode: '0600'
  when: not swap_file.stat.exists

- name: Format swap file
  ansible.builtin.command: mkswap /swapfile
  when: not swap_file.stat.exists
  changed_when: true

- name: Enable swap file
  ansible.builtin.command: swapon /swapfile
  when: not swap_file.stat.exists
  changed_when: true

- name: Add swap to fstab
  ansible.builtin.lineinfile:
    path: /etc/fstab
    line: '/swapfile none swap sw 0 0'
    state: present
