---
# Staged rollout: dwight-pi → jim-pi → michael-pi
- name: Configure dwight-pi
  hosts: dwight-pi
  become: true
  roles:
    - role: ../roles/debian_upgrade
    - role: ../roles/common
    - role: ../roles/network
    - role: ../roles/k3s_prereqs
    - role: ../roles/security

- name: Configure jim-pi
  hosts: jim-pi
  become: true
  roles:
    - role: ../roles/debian_upgrade
    - role: ../roles/common
    - role: ../roles/network
    - role: ../roles/k3s_prereqs
    - role: ../roles/security

- name: Configure michael-pi
  hosts: michael-pi
  become: true
  roles:
    - role: ../roles/debian_upgrade
    - role: ../roles/common
    - role: ../roles/network
    - role: ../roles/k3s_prereqs
    - role: ../roles/security
