applications: 
  app-of-apps:
    namespace: argo-cd
    project: default
    source:
      repoURL: https://github.com/slashr/app-manifests.git
      targetRevision: "main"
      path: "argo"
      directory:
        recurse: true
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
