---
global:
  affinity:
    nodeAffinity:
      type: soft
      matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
            - stanley-arm1

controller:
  enableStatefulSet: true
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - stanley-arm1

server:
  autoscaling:
    enabled: false
    minReplicas: 1
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - stanley-arm1
  ingress:
    enabled: true
    annotations:
      # This lets cert-manager identify which Ingresses to generate a cert for
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hostname: "argo.shrub.dev"
    tls: true

  certificate:
    # -- Deploy a Certificate resource (requires cert-manager)
    enabled: true
    # -- The name of the Secret that will be automatically created and managed by this Certificate resource
    secretName: argocd-server-tls
    # -- Certificate primary domain (commonName)
    domain: argo.shrub.dev
    issuer:
      # -- Certificate issuer group. Set if using an external issuer. Eg. `cert-manager.io`
      group: "cert-manager.io"
      # -- Certificate issuer kind. Either `Issuer` or `ClusterIssuer`
      kind: "ClusterIssuer"
      # -- Certificate issuer name. Eg. `letsencrypt`
      name: "letsencrypt-prod"


## The following addons are not really necessarily for a homelab setup
## Enable if you have enough CPU/Memory resources and need them for some purpose
dex:
  enabled: false

redis:
  # -- Enable redis
  enabled: true
  # -- Redis name
  name: redis
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - stanley-arm1

  ## Redis image
  image:
    # -- Redis repository
    repository: public.ecr.aws/docker/library/redis
    # -- Redis tag
    tag: 8.4.0-alpine
    # -- Redis image pull policy
    # @default -- `""` (defaults to global.image.imagePullPolicy)
    imagePullPolicy: ""

notifications:
  enabled: false

applicationSet:
  enabled: false
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - stanley-arm1

repoServer:
  autoscaling:
    enabled: false
    minReplicas: 1
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - stanley-arm1

  # argocd-vault-plugin with SOPS support
  env:
    - name: SOPS_AGE_KEY_FILE
      value: /sops/age/keys.txt

  volumes:
    - name: custom-tools
      emptyDir: {}
    - name: sops-age
      secret:
        secretName: sops-age-key  # pragma: allowlist secret
    - name: cmp-plugin
      configMap:
        name: argocd-cmp-cm

  volumeMounts:
    - name: custom-tools
      mountPath: /usr/local/bin/argocd-vault-plugin
      subPath: argocd-vault-plugin
    - name: sops-age
      mountPath: /sops/age

  initContainers:
    - name: download-avp
      image: alpine:3.19
      command: ["/bin/sh", "-c"]
      args:
        - |
          ARCH=$$(uname -m | sed 's/aarch64/arm64/' | sed 's/x86_64/amd64/')
          AVP_VERSION=1.18.1
          wget -O /custom-tools/argocd-vault-plugin \
            "https://github.com/argoproj-labs/argocd-vault-plugin/releases/download/v$${AVP_VERSION}/argocd-vault-plugin_$${AVP_VERSION}_linux_$${ARCH}"
          chmod +x /custom-tools/argocd-vault-plugin
      volumeMounts:
        - name: custom-tools
          mountPath: /custom-tools

  extraContainers:
    - name: avp-sops
      image: quay.io/argoproj/argocd:v2.14.8
      command: ["/var/run/argocd/argocd-cmp-server"]
      env:
        - name: SOPS_AGE_KEY_FILE
          value: /sops/age/keys.txt
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - name: var-files
          mountPath: /var/run/argocd
        - name: plugins
          mountPath: /home/argocd/cmp-server/plugins
        - name: cmp-plugin
          mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp-sops.yaml
        - name: custom-tools
          mountPath: /usr/local/bin/argocd-vault-plugin
          subPath: argocd-vault-plugin
        - name: sops-age
          mountPath: /sops/age

configs:
  params:
    # Disable TLS termination on ArgoCD server
    # TLS is handled by the Ingress controller
    # If disabled, this leads to endless redirect loop.
    server.insecure: true
  secret:
    argocdServerAdminPassword: $2a$10$rC8YEHTQ6XGPADs2aTJxA.lQwXoYRqhxM4lRplHyisdj77NNxsiN.
  repositories:
    podinfo-helm-repo:
      url: https://stefanprodan.github.io/podinfo
      name: podinfo
      type: helm
    app-manifests-repo:
      url: https://github.com/slashr/app-manifests.git
      name: app-manifests
