# Example structure for Kubernetes secrets
# Copy this to kube.yaml and encrypt with: sops -e -i kube.yaml
#
# To get values from your cluster:
#   kubectl config view --raw -o jsonpath='{.users[0].user.client-certificate-data}' | base64 -d
#   kubectl config view --raw -o jsonpath='{.users[0].user.client-key-data}' | base64 -d
#   kubectl config view --raw -o jsonpath='{.clusters[0].cluster.certificate-authority-data}' | base64 -d

kube_client_cert: |
  -----BEGIN CERTIFICATE-----
  YOUR_CLIENT_CERT_HERE
  -----END CERTIFICATE-----

kube_client_key: |
  -----BEGIN RSA PRIVATE KEY-----
  YOUR_CLIENT_KEY_HERE
  -----END RSA PRIVATE KEY-----

kube_cluster_ca_cert: |
  -----BEGIN CERTIFICATE-----
  YOUR_CA_CERT_HERE
  -----END CERTIFICATE-----
